<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>939886095685-etmenmafsjro63mf4aijl0m17a9j4avm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.939886095685-etmenmafsjro63mf4aijl0m17a9j4avm</string>
	<key>API_KEY</key>
	<string>AIzaSyDT5grKwucVY42kWl8E-uQSnnz_iIo_eMQ</string>
	<key>GCM_SENDER_ID</key>
	<string>939886095685</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Burkes.Vade</string>
	<key>PROJECT_ID</key>
	<string>attempt-f335f</string>
	<key>STORAGE_BUCKET</key>
	<string>attempt-f335f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:939886095685:ios:e1cce6f52fc3aed5</string>
	<key>DATABASE_URL</key>
	<string>https://attempt-f335f.firebaseio.com</string>
</dict>
</plist>